body {
    background-image: url("../image/prolog.jpg");
    background-size: 100%;
    background-attachment: fixed;
    opacity: 0.95;
    width: 100%;
    overflow-x: hidden;
}

#prolog-pic {
    margin: 20vw;
    width: 60vw;
}

#picture-space {
    width: 100%;
    height: 48.8vw;
    text-align: center;
    line-height: 55vw;
}

#select-bar {
    width: 100%;
    font-family: "Microsoft JhengHei";
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 5vw;
    text-align: center;
    opacity: 0.7;
    z-index: 99;
}

#fixed-bar {
    width: 100%;
    font-family: "Microsoft JhengHei";
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 5vw;
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    opacity: 0.7;
    z-index: 100;
}


.bar-button {
    border-radius: 10vw;
    cursor: pointer;
}

.btn-row {
    border: solid;
    border: red;
    background-color: black;
}

.anchor {
    top: -5vw;
    display: block;
    position: relative;
}

#intro-space {
    width: 100%;
    height: 48.8vw;
    background-image: url("../image/intro.png");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}


#book-pic {
    position: absolute;
    left: 60vw;
    top: 5vw;
    width: 50vw;
    display: inline-block;
    z-index: 2;
}

#book-btn {
    position: relative;
    left: 17vw;
    top: 11vw;
    width: 29vw;
    height: 20vw;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
}


#intro-text {
    position: relative;
    left: 14vw;
    top: 6vw;
    width: 53vw;
    height: 36vw;
    background-color: black;
    opacity: 0.5;
    visibility: hidden;
    border-radius: 3vw;
    border: solid;
    color: white;
    vertical-align: top;
    font-size: 2.2vw;
    font-weight: bold;
    font-family: "Microsoft JhengHei";
    float: left;
    padding-top: 2vw;
    padding-left: 2.4vw;
    z-index: 1;
}

#schedule-space {
    width: 100%;
    height: 48.8vw;
    background-image: url('../image/schedule-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#schedule-img-space {
    width: 68vw;
    height: 35vw;
    position: relative;
    left: 29.5vw;
    top: 7vw;
    overflow-y: auto;

    line-height: 60px;
    font-size: 25px;
    font-family: "Microsoft JhengHei";
    font-weight: bold;
    color: white;
}

#schedule-form {
    width: 65vw;
    height: 35vw;
    position: relative;
}

#first-footer {
    width: 100%;
    height: 48.8vw;
    background-image: url('../image/first-footer.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Microsoft JhengHei";
    font-size: 2.2vw;
    font-weight: bold;
    color: white;
}

#carousel-example-generic {
    width: 56vw;
    position: relative;
    left: 21.5vw;
    top: 7vw;
}

#register-space {
    width: 100%;
    height: 48.8vw;
    background-image: url("../image/register.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* text-align: left; */
    vertical-align: center;
}


/* input {
    background-color: rgba(0, 0, 0, 0.5);
    height: 2vw;
    
    border: none;
} */


/* select {
    background-color: rgba(0, 0, 0, 0.5);
} */

#reg {
    position: relative;
    left: 22vw;
    top: 11vw;
    width: 60vw;
    height: 34vw;
    line-height: 50px;
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    font-weight: bold;
    color: white;
    /* overflow-x: hidden; */
    overflow-y: auto;
}

#cloth-size-btn {
    background-color: #444444;
    opacity: 0.7;
}

#cloth-size-pic {
    position: absolute;
    border: white 2px solid;
    display: none;
    width: 90vw;
}

.input-block {
    display: inline-block;
    margin-left: 0.5vw;
}


/* #sub {
    height: 3vw;
    width: 7vw;
    border-radius: 0.5vw;
    border: solid;
} */

.btn-sm.btn-xs {
    /*     padding: 10px 20px; */
    font-size: 20px;
    border-radius: 0.5vw;
    border: solid;
    width: 7vw;
}

#pay-space {
    width: 100%;
    height: 48.8vw;
    background-image: url("../image/pay.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#pay-text {
    width: 60vw;
    top: 9vw;
    left: 34vw;
    position: relative;
    font-family: "Microsoft JhengHei";
    font-size: 22px;
    color: white;
    font-weight: bold;
    line-height: 4vw;
}

#game-space {
    width: 100%;
    text-align: center;
    font-family: "Microsoft JhengHei";
    background-color: black;
    font-size: 2.2vw;
    font-weight: bold;
    color: white;
    padding-top: 6vw;
}

#enchant-stage{
    margin: auto;
    margin-bottom: 2vw;
}

#game-help-text{
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 2vw;
    background-color: white;
    border-radius: 5vw;
    color: black;
    opacity: 0.7;
    font-size: 1.5vw;
    display: none;
}

#game-help{
    font-size: 1.4vw;
    margin-bottom: 1vw;
    z-index: 4;
}

#contact-space {
    width: 100%;
    height: 48.8vw;
    background-image: url('../image/contact.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#contact-text {
    top: 13vw;
    position: relative;
    font-family: "Microsoft JhengHei";
    font-size: 2vw;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 3.5vw;
}

.pic {
    margin: auto;
    border: solid white;
    width: 17vw;
    height: 17vw;
}